[class~="hurrytimer-campaign"] {
  line-height: normal;
  text-align: center;
  padding: 10px 0; }
  [class~="hurrytimer-campaign"] * {
    line-height: normal; }

.hurryt-loading {
  display: none !important; }

.hurrytimer-timer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap; }

.hurrytimer-headline {
  color: #333;
  display: block;
  margin: 5px auto; }

.hurrytimer-timer-block {
  position: relative;
  display: flex;
  margin-right: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  margin-bottom: 10px;
  margin-left: 5px; }
  .hurrytimer-timer-block:last-child {
    margin-right: 0; }
  .hurrytimer-timer-block:first-child {
    margin-left: 0; }

.hurrytimer-sticky {
  margin: auto !important;
  width: 100%;
  background: #fff;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05); }
  .hurrytimer-sticky.is-off {
    position: relative;
    z-index: 0; }

.admin-bar:not(.wp-admin) .hurrytimer-sticky {
  z-index: 999999; }

.hurrytimer-sticky-inner {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px; }

.hurrytimer-button {
  display: inline-block;
  text-decoration: none;
  outline: none; }

.hurrytimer-sticky-close {
  right: 10px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 13px;
  height: 13px;
  cursor: pointer;
  display: flex; }
  .hurrytimer-sticky-close svg {
    fill: #333;
    width: 100%;
    height: 100%; }
  .hurrytimer-sticky-close:hover {
    opacity: 1;
    background: none; }

        .hurrytimer-campaign-9669{
    text-align: center;
    display: inline;
    }
    
    .hurrytimer-campaign-9669 .hurrytimer-timer-digit,
    .hurrytimer-campaign-9669 .hurrytimer-timer-sep    {
    color: #fdc110;
    display: block;
    font-size: 55px;
    }

    .hurrytimer-campaign-9669 .hurrytimer-timer{
        display: inline-flex;
    vertical-align: middle;
    }

        .hurrytimer-campaign-9669 .hurrytimer-timer-label    {
    font-size: 16px;
    color: #ffffff;
    text-transform: lowercase;
    display: block;
    }

    
    
        .hurrytimer-campaign-9669 .hurrytimer-headline    {
    font-size: 30px;
    color: #000;
        margin-right: 5px;

        display:inline-block;
    vertical-align:middle;
    }

    .hurrytimer-campaign-9669 .hurrytimer-button-wrap{
        margin-left: 5px;

        display:inline-block;
    vertical-align:middle;
    }
    .hurrytimer-campaign-9669 .hurrytimer-button{
    font-size: 15px;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    padding: 10px 15px;
    }

    @media(max-width:425px) {
    .hurrytimer-campaign-9669 .hurrytimer-button-wrap,
    .hurrytimer-campaign-9669 .hurrytimer-headline
    {
    margin-left: 0;
    margin-right: 0;
    }
    }
    




