/*--------------- 
    Carousel plugin  
  ----------------*/
.tmcarousel__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding: 10px;
}

.tmcarousel__item {
    flex-grow: 1;
    flex-basis: 0;
    opacity: 0;
    padding: 0px 5%;
}

.tmcarousel__item.hidden {
    display: none;
}

.tmcarousel__item.active {
    opacity: 1;
    transition: opacity 1s linear;
}

.tmcarousel__item h3 {
    margin-top: 12px;
}

.tmcarousel__pagination {
    margin-top: 48px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .tmcarousel__pagination {
        display: none;
    }
}

.tmcarousel__pagination i {
    padding: 8px;
    font-size: 8px;
    color: #777777;
}

.tmcarousel__pagination i.active {
    color: #4f3f99;
}

.tmcarousel__button-left,
.tmcarousel__button-right {
    font-size: 2rem;
    cursor: pointer;
}
