@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-poppins) !important;
    outline: none !important;
}

a,
a:hover {
    text-decoration: none;
}

button:focus,
button:hover,
.button:focus,
.button:hover,
.faux-button:focus,
.faux-button:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    outline: none !important;
}

.header-prime {
    position: fixed !important;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    transform: translate(0, 0);
}

.header-prime.fixed {
    transform: translate(0, -45px);
}

#site-content {
    padding-top: 150px;
}

.icon-scroll {
    position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    width: 20px;
}

.nav-toggle .toggle-icon,
.nav-toggle svg {
    width: auto;
    height: auto;
}

iframe {
    display: block;
    width: 100% !important;
}

button.close-btn,
button.close-btn span {
    position: absolute;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #707070;
    top: 5px;
    font-weight: 400;
    text-align: center;
    right: 5px;
}

#modalInscrevase .modal-content {
    background: var(--color-f7f7f7) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-dddddd);
    background: rgba(247, 247, 247, 1) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    margin-left: 12%;
    padding: 20px 40px 10px;
    margin: 0;
}

@media (min-width: 768px) {
    .fix-header-especial.fixed {
        transform: translate(0, 73px) !important;
    }
    #main_countedown_1 .time_left {
        font-size: 55px !important;
        line-height: 71px !important;
    }
    .countdown {
        margin: 40px 0 0 !important;
    }
    .widget.widget_pages .widget-title {
        display: none;
    }
    .footer-widgets {
        margin: 0;
    }
    .widget,
    .widget .widget-title {
        margin: 0;
    }
    .widget_custom_html ul,
    .widget_pages ul {
        margin: 0;
        display: flex;
        vertical-align: top;
        align-items: flex-start;
        justify-content: space-around;
        list-style: none;
    }
    .widget_custom_html ul li,
    .widget_pages ul li {
        margin: 0;
    }
    .widget_categories ul {
        margin: 0;
    }
    .widget_categories ul li {
        margin: 0;
    }
    .widget_categories .widget-content .widget-title {
        text-transform: normal !important;
        margin-bottom: 0 !important;
    }
    .widget_categories .widget-content .widget-title,
    .widget .widget-content .widget-title {
        color: var(--color-ffffff);
        font-weight: var(--font-style-semibold);
        font-size: var(--font-size-14);
        line-height: var(--line-spacing-24);
        text-transform: var(--text-transform-uppercase);
        font-family: var(--font-family-poppins) !important;
        margin-bottom: 13px;
    }
    .easygoi-form {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        vertical-align: middle;
        flex-wrap: wrap;
    }
    .easygoi-form div input[type="text"] {
        border-radius: 4px;
        background: var(--color-ffffff);
        color: var(--color-8995A0) !important;
        font-size: var(--font-size-14) !important;
        line-height: var(--line-spacing-18);
        font-weight: var(--font-style-regular);
        margin-right: 0;
        margin-bottom: 16px;
    }
    .easygoi-form div input[type="submit"] {
        background: #3dab34;
        color: var(--color-ffffff) !important;
        line-height: var(--line-spacing-18);
        font-weight: var(--font-style-bold);
        margin-top: 16px;
        border-radius: 3px;
        float: right;
    }
    /* header */
    header {
        box-shadow: 0px 2px 4px #00000029;
    }
    .header-inner {
        justify-content: flex-start;
        padding: 13px 0;
        margin: 0;
        display: flex;
        width: 100%;
    }
    .primary-menu-wrapper+.header-toggles {
        margin-left: 30px;
    }
    .header-navigation-wrapper {
        align-items: center;
        display: flex;
    }
    .primary-menu-wrapper {
        display: block;
        width: 90%;
    }
    .primary-menu {
        display: inline-block;
        position: relative;
    }
    .primary-menu>li,
    .primary-menu>li>a,
    .header-group .color-accent-hover:hover {
        display: inline-block;
        color: var(--color-414141) !important;
        font-size: var(--font-size-14);
        font-weight: var(--font-style-regular);
        line-height: var(--line-spacing-48);
    }
    .primary-menu>li.current_page_item a:after {
        content: "";
        border-bottom: 4px solid var(--color-fdc110);
        color: var(--color-4f3f99);
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    /* .primary-menu>li.current_page_item ul.sub-menu li a:after{

    }

    .primary-menu>li.current_page_item ul.sub-menu li.current-menu-item a:after{

    } */
    .primary-menu li>ul {
        width: 290px;
    }
    ul.sub-menu>li {
        border-bottom: 1px solid var(--color-dddddd) !important;
    }
    ul.sub-menu>li:last-child {
        border-bottom: none !important;
    }
    .primary-menu>li.current_page_item ul.sub-menu li a:after {
        display: none !important;
    }
    ul.sub-menu>li>a:hover {
        color: var(--color-4f3f99) !important;
    }
    ul.sub-menu>li.current-menu-item>a {
        color: var(--color-4f3f99) !important;
    }
    ul.sub-menu>li>a {
        color: var(--color-575757) !important;
    }
    .primary-menu>li.btn-inscrevase a,
    .primary-menu>li.btn-inscrevase {
        color: var(--color-ffffff) !important;
        border-radius: 3px;
        background: var(--color-33cc99);
        padding: 0 24px;
        position: absolute;
        right: 0;
        width: auto;
        min-width: 246px;
        text-align: center;
        font-weight: var(--font-style-bold);
    }
    .primary-menu>li>.icon {
        color: #33cc99 !important;
        font-size: var(--font-size-12) !important;
        line-height: var(--line-spacing-21);
        font-weight: var(--font-style-regular);
    }
    .primary-menu>li>.icon:before,
    .primary-menu>li>.icon:after {
        color: #33cc99 !important;
    }
    ul.primary-menu {
        justify-content: flex-start;
        margin-left: -3em !important;
    }
    .btn-inscrevase .header-titles-wrapper {
        max-width: 100%;
    }
    /* submenu */
    .primary-menu ul {
        border: 1px solid var(--color-dddddd);
    }
    .primary-menu ul li,
    .primary-menu ul li a {
        color: var(--color-777777) !important;
        font-size: var(--font-size-12);
        font-weight: var(--font-style-semibold);
        line-height: var(--line-spacing-24);
        text-transform: var(--text-transform-uppercase);
    }
    body:not(.overlay-header) .primary-menu>li>ul:after {
        border-bottom-color: var(--color-dddddd);
    }
    /* serch icon */
    .header-toggles {
        display: block;
        width: 19px;
        height: 19px;
        margin: 0;
    }
    .header-toggles .toggle {
        padding: 0;
        outline: none;
        left: 0;
    }
    .header-inner .primary-menu-wrapper+.header-toggles .toggle-wrapper:first-child::before {
        display: none;
    }
    .search-toggle {
        position: relative;
    }
    .mobile-nav-toggle,
    .mobile-search-toggle {
        display: none !important;
    }
    /* modal seacrh */
    .showing-modal .site-logo {
        display: none;
    }
    /* footer */
    .lineFooter {
        width: 100%;
        margin: 20px 0;
        height: 1px;
        background: var(--color-ffffff);
        display: block;
    }
    h2.footer-title {
        color: var(--color-ffffff);
        font-weight: var(--font-style-semibold);
        font-size: var(--font-size-14);
        line-height: var(--line-spacing-24);
        text-transform: var(--text-transform-uppercase);
        margin-bottom: 13px;
    }
}


/* mobile 768px e 991px */

@media (min-width: 768px) and (max-width: 991px) {
    .widget_home.widget_text .widget_home_content {
        margin-left: 0 !important;
        margin-top: 20px;
        position: relative !important;
    }
    .primary-menu-wrapper {
        width: 100%;
    }
    .primary-menu>li.btn-inscrevase a,
    .primary-menu>li.btn-inscrevase {
        font-size: 12px;
        min-width: 190px;
        padding: 0 5px;
    }
    .primary-menu-wrapper+.header-toggles {
        margin-left: 10px;
    }
    .primary-menu>li {
        margin: 0.8rem 0 0 1rem;
    }
    .categories-modal-search,
    .search-modal.active .search-modal-inner,
    .search-modal.active .search-modal-inner .section-inner {
        width: 90% !important;
    }
    .widget .widget-title {
        padding-top: 20px;
    }
    .widget_custom_html ul,
    .widget_pages ul {
        display: block;
    }
}


/* mobile max 767px */

@media screen and (max-width: 992px) {
    .countdown {
        margin: 50px 0 0 !important;
    }
    .img-right,
    .img-left {
        display: none;
    }
    .third-section {
        display: none;
    }
    .feature-image-title {
        display: none;
    }
    .banner_inter_arroba {
        position: relative !important;
        height: auto !important;
        transform: translateY(0) !important;
        top: 20px !important;
        z-index: 1 !important;
        left: 0;
    }
    #page-patrocinadores {
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .seja-patrocinador {
        padding: 20px !important;
    }
    .fix-header-especial.fixed {
        transform: translate(0, 62px) !important;
    }
    #site-content {
        padding-top: 109px !important;
    }
    .header-inner .toggle {
        height: 50px !important;
    }
    .toggle-inner,
    .header-inner .toggle svg {
        color: var(--color-fdc110) !important;
        height: auto !important;
        width: 50px !important;
        font-size: 50px !important;
    }
    .home-page h1,
    .home-page .heading-size-1 {
        font-size: var(--font-size-32) !important;
        line-height: var(--font-size-38) !important;
    }
    #main_countedown_1 .element_conteiner {
        min-width: 65px !important;
    }
    #main_countedown_1 .time_left {
        font-size: 45px !important;
        line-height: 61px !important;
    }
    .related-content {
        display: none;
    }
    .supper_banner {
        width: 100%;
    }
    .easygoi-textfield {
        margin-bottom: 10px;
    }
    .easygoi-form div.easygoi-button-element {
        max-width: 100% !important;
    }
    .btn-subs {
        background-color: #3dab34 !important;
        border-radius: 3px !important;
        height: 48px;
    }
    .most-posts .link-content {
        display: block !important;
    }
    .carousel-indicators {
        width: 50%;
        margin: 0;
        transform: translateX(50%) !important;
        margin-top: 10px !important;
    }
    .img-moda-350-230 {
        max-width: 100%;
    }
    .img-moda-270-168,
    .img-moda-255-168,
    .img-moda-168-104,
    .last-posts .link-content {
        width: 100%;
        height: 168px;
        object-fit: cover;
        display: block !important;
        max-width: 100%;
    }
    .most-posts .link-content .content-text {
        margin-left: 0;
    }
    .second-section .newsletter .title:before {
        left: -15px !important;
    }
    .last-posts .link-content .content-text {
        margin-left: 0 !important;
    }
    .easygoi-form div.easygoi-button-element {
        margin-top: 0;
        padding: 15px 0 10px;
    }
    .second-section .newsletter span,
    .second-section .newsletter small {
        padding-left: 0 !important;
    }
    .second-section>div>div {
        padding: 5px 10px !important;
    }
    .newsletter {
        display: block !important;
        text-align: left;
        padding: 20px 10px 0px !important;
    }
    /* header */
    .site-logo a {
        max-width: 119px;
    }
    .header-inner {
        padding: 10px 0;
    }
    .menu-modal.active {
        z-index: 999;
    }
    .header-group,
    body:not(.overlay-header) #site-header .toggle,
    .menu-modal .toggle,
    .menu-modal .toggle {
        color: var(--color-fdc110);
    }
    .menu-modal nav * {
        border-color: var(--color-fdc110);
    }
    .modal-menu>li a {
        color: var(--color-777777) !important;
        font-size: var(--font-size-16) !important;
        font-weight: var(--font-style-semibold) !important;
        line-height: var(--line-spacing-24) !important;
        text-transform: var(--text-transform-uppercase) !important;
    }
    .modal-menu>li:first-child {
        border-top: 0;
    }
    .modal-menu>li:last-child {
        border-bottom: 0;
    }
    .modal-menu ul li a {
        color: var(--color-777777) !important;
        font-size: var(--font-size-14) !important;
        font-weight: var(--font-style-semibold) !important;
        line-height: var(--line-spacing-22) !important;
        text-transform: var(--text-transform-uppercase) !important;
    }
    /* modal busca */
    .showing-modal .site-logo,
    .showing-modal .header-inner .toggle {
        display: none;
    }
    .categories-modal-search,
    .search-modal.active .search-modal-inner,
    .search-modal.active .search-modal-inner .section-inner {
        width: 90% !important;
    }
    /* footer */
    .footer-widgets-outer-wrapper {
        padding: 22px 0;
    }
    .footer-widgets-outer-wrapper .footer-title,
    .footer-widgets-outer-wrapper .widget_custom_html,
    .footer-widgets-outer-wrapper .widget_pages,
    .footer-widgets-outer-wrapper .widget_categories {
        display: none;
    }
    #site-footer-last img {
        position: relative !important;
        right: 0;
        transform: translateY(-50%);
        top: 50%;
        max-width: 74px;
        height: auto;
        display: block;
        float: none;
        margin: 20px auto 0;
    }
    .footer-widget {
        margin-top: 16px;
    }
    .footer-widget p {
        text-align: center;
    }
    .footer-widget p strong {
        margin: 0 !important;
    }
    .footer-widgets-outer-wrapper div a img {
        margin: 0 auto;
    }
    .social-list {
        margin: 24px auto 0 !important;
        width: auto;
        display: table !important;
    }
    .social-list li {
        display: inline-block;
    }
    /* widget sympla */
    .widget_home.widget_text .widget_home_content {
        margin-left: 0 !important;
        margin-top: 20px;
        position: inherit !important;
        width: 100% !important;
    }
    .feature-image-title {
        display: none;
    }
    .custom-template-page header.entry-header {
        margin: 0 0 20px !important;
        padding: 0 0 2rem !important;
    }
    #site-header {
        margin-bottom: 0;
    }
    .links-breadcrumb {
        margin-bottom: 0 !important;
    }
    .blog .custom-template-page header.entry-header,
    .archive .custom-template-page header.entry-header {
        margin: 0 0 20px !important;
        padding: 0 0 2rem !important;
    }
    .home-page .entry-header {
        margin-bottom: 20px !important;
        padding: 0;
    }
    .post-list {
        margin-top: 10px !important;
    }
    .widget_home.widget_text .widget_home_content {
        padding: 20px !important;
        width: auto;
    }
    .section-page-first {
        margin: 30px 0 !important;
        padding: 0 !important;
        background: transparent !important;
    }
    #escala_programacao {
        margin: 0;
    }
    .box-content {
        display: inline-block !important;
        padding: 15px 0 !important;
        width: 100% !important;
    }
    .data-content {
        width: 100%;
    }
    .box-content .data-content {
        display: block !important;
        min-height: 46px;
        margin-bottom: 16px;
    }
    .data-content-paineis {
        padding: 20px !important;
    }
    .box-content .data-content-sessoes {
        padding-left: 0 !important;
    }
    .btn-inscreva {
        margin: 0 auto !important;
    }
    .gallery {
        margin: 0 0 80px !important;
    }
    .gallery .gallery-content ul {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .pat>div>div {
        display: block !important;
    }
    .patrocinadores {
        margin-bottom: 20px !important;
    }
    .p-hor {
        display: block !important;
    }
    .pagination .prev,
    .pagination .next {
        margin: 0 15px !important;
    }
}


/* geral */

.home-page .overlay-img {
    min-height: 600px;
    max-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 60px;
}

.nav-toggle .toggle-inner {
    padding: 0;
    margin: 0;
}

.header-inner .toggle {
    height: 18px;
}

.header-inner .toggle svg {
    color: #707070;
    width: 18px;
    height: 18px;
    font-size: 18px;
}

.image-content-post figcaption {
    display: none;
}

.blog .a2a_kit,
.page .a2a_kit,
.archive .a2a_kit,
.home .a2a_kit {
    display: none !important;
}

.primary-menu a:hover,
.primary-menu a:focus,
.primary-menu .current_page_ancestor,
.primary-menu li.current-menu-item>a,
.primary-menu li.current-menu-item>.link-icon-wrapper>a {
    text-decoration: none !important;
}

.related-content {
    border-top: 1px solid var(--color-dddddd);
    padding-top: 30px;
}

.related-content .post-list {
    margin-top: 28px !important;
}

.banner_inter_arroba {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    height: 100vh;
    left: 3%;
}

.titleImage {
    height: 24px;
    width: 146px;
    background: url(/wp-content/themes/nzn_mobilidade/assets/images/cat_mobilidade.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: -5000em;
    position: relative;
    margin: 0;
}

.titleImage:before {
    display: none;
}

.titleImage:after {
    transform: translateX(-50%);
    left: 105%;
}

.date-time-card {
    height: 17px;
    display: flex;
    align-items: center;
}

.third-section .content-image .categoryTitle {
    position: absolute;
    left: 0;
    top: 16px;
    z-index: 1;
}

.post-meta-single-bottom {
    display: none;
}


/* banners */

.banner-top {
    margin: 30px auto 25px;
}


/* single post */

.bg-post-single {
    position: relative;
    padding-bottom: 200px;
}

.bg-post-single .bg-post {
    height: 460px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    position: absolute;
}


/* for single post */

.single_post_content h1,
.single_post_content h2,
.single_post_content h3,
.single_post_content h4,
.single_post_content h5,
.single_post_content h6 {
    letter-spacing: var(--character-spacing-0);
    font-weight: var(--font-style-semibold);
    font-family: var(--font-family-poppins);
    margin: 0 0 22px;
    padding: 0;
}

.single_post_content h1 {
    font-size: var(--font-size-32);
    line-height: var(--line-spacing-40);
    color: var(--color-414141);
    margin-bottom: 10px;
}

.single_post_content h2 {
    font-size: var(--font-size-22);
    line-height: var(--line-spacing-24);
    color: var(--color-de4092);
}

.single_post_content h3 {
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-20);
    color: var(--color-de4092);
}

.single_post_content h4 {
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-18);
    color: var(--color-de4092);
}

.single_post_content h5 {
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-16);
    color: var(--color-de4092);
}

.single_post_content h6 {
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-24);
    color: var(--color-de4092);
}

ul li,
.single_post_content p {
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-22) var(--font-family-poppins);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    font-weight: var(--font-style-regular);
    margin-top: 10px;
    margin-bottom: 16px;
}

strong.excerpt_post {
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-22);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    font-weight: var(--font-style-semibold);
    margin-top: 16px;
    display: block;
}

.content-blog figcaption {
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-14);
    color: var(--color-777777);
    text-align: center;
    font-weight: var(--font-style-regular);
    font-style: italic;
}

.content-blog .wp-block-group {
    border-top: 1px solid var(--color-dddddd);
    border-bottom: 1px solid var(--color-dddddd);
    padding: 16px 0;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.content-blog ul {
    margin: 2rem;
    padding: 0;
    list-style: none;
}

.content-blog a {
    color: var(--color-4f3f99);
}

.content-blog ul li::before {
    content: "\2022";
    color: var(--color-33cc99);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.content-blog ul li {
    margin: 5px 16px;
}

.content-blog {
    background-color: var(--color-ffffff);
    padding: 34px 46px 0;
    position: relative;
}

.header-blog {
    border-bottom: 1px solid var(--color-dddddd);
    padding-bottom: 42px;
}

.body-blog {
    padding-top: 42px;
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-22) var(--font-family-poppins);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    font-weight: var(--font-style-regular);
    margin-top: 10px;
    margin-bottom: 16px;
}


/* header quando abre modal */

#site-header {
    box-shadow: 0px 2px 4px #00000029;
    z-index: 3;
}

#site-header.fixed {
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}


/* modal search aberto */

.search-modal {
    height: 100%;
    width: 100%;
    background: var(--color-ffffff);
    z-index: 9;
}

.search-modal.active .search-modal-inner {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
    width: 70%;
    box-shadow: none;
    height: 100%;
}

.search-modal.active .search-modal-inner .section-inner {
    width: 70%;
    border-bottom: 1px solid var(--color-4f3f99);
    background: #ecedee;
    padding: 0 24px;
    height: 66px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
    margin: 0;
}

.search-modal .search-field {
    height: 66px;
    color: #777777 !important;
    font-size: var(--font-size-24) !important;
    font-weight: var(--font-style-semibold) !important;
    line-height: var(--line-spacing-24) !important;
}

.search-modal .search-field::placeholder {
    color: #b5b7b9 !important;
    font-size: var(--font-size-24) !important;
    font-weight: var(--font-style-semibold) !important;
    line-height: var(--line-spacing-24) !important;
}

.search-form .search-submit {
    position: relative;
}

.search-form .search-submit:after {
    position: absolute;
    content: "";
}

input[type="search"]:focus {
    outline: none;
}

.close-search-toggle {
    position: absolute;
    left: 80%;
    top: 80px;
    color: #777777 !important;
}

.search-modal .search-submit {
    position: relative !important;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent !important;
    color: #de4092 !important;
    height: 19px;
    width: 19px;
    background: url(/wp-content/themes/nzn_mobilidade/assets/images/icones/icon-search.svg) !important;
    background-position: center right !important;
    background-repeat: no-repeat !important;
    text-indent: -5000em;
    min-width: 19px !important;
}


/* header quando abre modal */

.showing-modal #site-header {
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
}

.showing-modal .estadao-header {
    opacity: 1;
    z-index: 10;
    position: relative;
}

.showing-modal header .header-navigation-wrapper {
    display: none;
}


/* bloco de categorias modal */

.categories-modal-search {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
    width: 70%;
    margin-top: 70px;
}

.categories-modal-search h3 {
    font-size: var(--font-size-16);
    line-height: var(--font-size-16);
    color: var(--color-de4092);
    font-weight: var(--font-style-semibold);
    margin-bottom: 8px;
}

.categories-modal-search ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.categories-modal-search ul li {
    margin: 4px 0;
    padding: 0;
    display: block;
}

.categories-modal-search ul li a {
    text-decoration: var(--decoration-underline);
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-28);
    font-family: var(--font-family-poppins);
    color: var(--color-777777);
    font-weight: var(--font-style-regular);
    position: relative;
    padding-left: 24px;
}

.categories-modal-search ul li a:before {
    position: absolute;
    left: 0;
    content: "";
    height: 14px;
    width: 14px;
    background: url(/wp-content/themes/nzn_mobilidade/assets/images/icones/arrow-right.svg);
    background-position: center left;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    top: 50%;
}


/* footer */

#site-footer {
    display: none;
}


/* footer widget */

.widget_categories ul li:last-child {
    display: none !important;
}

.widget_categories ul li a,
.widget_pages ul li a,
.widget_custom_html ul li a,
.footer-widget p {
    color: var(--color-ffffff);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-22);
    margin: 0;
    font-family: var(--font-family-poppins) !important;
}

.footer-widget p strong {
    display: inline-block;
    margin: 11px 0 0;
    color: var(--color-ffffff);
    font-weight: var(--font-style-bold);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins) !important;
}

.footer-widget p a {
    color: var(--color-ffffff);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-22);
    text-decoration: var(--decoration-underline);
    font-family: var(--font-family-poppins) !important;
    margin: 0;
}

#site-footer-last {
    padding: 16px 0;
}

#site-footer-last p {
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-24);
    color: var(--color-ffffff);
    font-weight: var(--font-style-semibold);
    text-align: center;
    font-family: var(--font-family-poppins);
}

#site-footer-last img {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    max-width: 74px;
    height: auto;
}


/* social  */

.social-list {
    display: flex;
    margin: 10px;
    list-style: none;
    margin: 0;
}

.social-list li {
    margin: 0;
}

.social-list li a {
    color: var(--color-8995A0) !important;
    transition: 0.3s;
    height: 38px;
    width: 38px;
    display: block;
    margin-right: 12px;
}

.social-list li a:hover {
    color: var(--color-8995A0) !important;
}

.social-list li a .namefield {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* icones redes sociais */

.facebook-icon {
    background: url(./../images/icones/facebook.svg);
}

.twitter-icon {
    background: url(./../images/icones/twitter.svg);
}

.instagram-icon {
    background: url(./../images/icones/instagram.svg);
}

.linkedin-icon {
    background: url(./../images/icones/linkedin.svg);
}


/* egoy form */

.easygoi-form div {
    width: 100%;
    margin-right: 5px;
}

.easygoi-form div.easygoi-button-element {
    max-width: 130px;
}


/* home page */

.home-page .entry-header {
    background: transparent;
    box-shadow: none;
    margin-bottom: 60px;
    padding: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .home-page .entry-header {
        margin-top: -40% !important;
    }
}

.home-page .overlay-img {
    position: relative;
    height: calc(100vh - 118px) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.home-page .overlay-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-000000-rgba);
    height: 100%;
    width: 100%;
}

.home-page .content-home-header {
    position: relative;
}

.home-page .content-home-header .post-inner {
    margin: 0 auto;
    padding: 0;
}

.entry-btn,
.entry-btn a,
.home-page .content-home-header .entry-btn a,
.home-page .content-home-header .entry-btn {
    color: var(--color-ffffff) !important;
    border-radius: 3px;
    background: var(--color-33cc99);
    text-align: center;
    max-width: 386px !important;
    width: 100% !important;
    font-size: var(--font-size-14);
    font-weight: var(--font-style-bold);
    line-height: var(--line-spacing-48);
    font-family: var(--font-family-poppins);
    display: block;
    margin: 0 auto !important;
}

.home-page .content-home-header .entry-content p {
    font-family: var(--font-family-poppins);
}

.home-page h1,
.home-page .heading-size-1 {
    font-size: var(--font-size-48);
    line-height: var(--line-spacing-52);
    font-family: var(--font-family-poppins);
    color: var(--color-ffffff);
    font-weight: var(--font-style-bold);
    text-transform: var(--text-transform-uppercase);
    text-align: center;
    margin-bottom: 16px;
}

.home-page .has-normal-font-size {
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-28);
    font-family: var(--font-family-poppins);
    color: var(--color-ffffff);
    font-weight: var(--font-style-regular);
}

.home-page .has-large-font-size {
    font-size: var(--font-size-28);
    line-height: var(--line-spacing-52);
    font-family: var(--font-family-poppins);
    color: var(--color-fdc110);
    font-weight: var(--font-style-bold);
}

.search .archive-subtitle {
    position: absolute;
    top: 125%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    font-size: var(--font-size-14);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    font-weight: var(--font-style-regular) !important;
    font-family: var(--font-family-poppins);
    line-height: var(--line-spacing-18);
}


/* widget home */

.widget_home h2 {
    color: var(--color-4f3f99);
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.widget_home h2:after {
    content: "";
    border-bottom: 4px solid var(--color-fdc110);
    color: var(--color-4f3f99);
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.widget_home h2 {
    font-size: var(--font-size-32);
    letter-spacing: 0.96px;
    font-weight: var(--font-style-bold);
    line-height: 1.2;
    font-family: var(--font-family-poppins);
}

.widget_home.widget_text h2 {
    font-size: var(--font-size-24);
    letter-spacing: var(--character-spacing-0);
    font-weight: var(--font-style-semibold);
    line-height: var(--line-spacing-24);
    font-family: var(--font-family-poppins);
}

.widget_home.widget_text .widget_home_content {
    background: var(--color-f7f7f7) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-dddddd);
    background: rgba(247, 247, 247, 1) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    margin-left: 12%;
    padding: 40px;
}

.widget_home p strong {
    font-size: var(--font-size-16);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    font-weight: var(--font-style-semibold);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

.widget_home p,
.widget_home.widget_text p {
    font-size: var(--font-size-14);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    font-weight: var(--font-style-regular);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

.subtitleText,
.widget_home.widget_text p strong {
    font-size: var(--font-size-14);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-de4092);
    font-weight: var(--font-style-bold);
    display: block;
    width: 100%;
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

.widget_home a,
.widget_home p a {
    color: var(--color-ffffff) !important;
    border-radius: 3px;
    background: var(--color-33cc99);
    text-align: center;
    max-width: 100% !important;
    width: 100% !important;
    font-size: var(--font-size-14);
    font-weight: var(--font-style-bold);
    line-height: var(--line-spacing-48);
    margin-top: 30px;
    padding: 0px 22px;
    display: block;
}


/* first section home */

.divisor {
    width: 100%;
    margin: 40px 0;
    height: 1px;
    background: var(--color-8995A0);
    display: block;
}

.first-section {
    position: relative;
}

.img-details-right {
    position: relative;
    max-width: 207px;
    left: 92%;
}

.img-details-left {
    position: relative;
    max-width: 207px;
    left: 0;
}

.first-section .img-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 207px;
    height: auto;
    z-index: -1;
}

.first-section .img-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 207px;
    height: 100%;
    z-index: -1;
    height: auto;
}


/* second section home */

.second-section {}

.second-section .newsletter {
    margin: 46px 0;
    padding: 32px 12px;
    background: var(--color-4f3f99);
    width: 100%;
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    align-items: center !important;
}

.second-section .newsletter .title {
    text-align: left;
    font: normal normal 300 36px/32px Poppins;
    letter-spacing: 0px;
    color: var(--color-fdc110);
    opacity: 1;
}

.second-section .newsletter .title:before {
    position: absolute;
    left: 0;
    content: "";
    height: 20px;
    width: 20px;
    background: url(/wp-content/themes/nzn_mobilidade/assets/images/icones/arrow-right.svg);
    background-position: center left;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    top: 50%;
    display: none;
}

.second-section .newsletter small {
    padding-top: 10px;
    display: block;
    font-weight: var(--font-style-light);
    font-size: var(--font-size-16);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-ffffff);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
    opacity: 1;
}

.second-section .newsletter .subheading {
    display: none;
}


/* third section home */

.third-section {
    margin-bottom: 50px;
}

.third-section h2 {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-24);
    color: var(--color-4f3f99);
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 22px;
}

.third-section h2:after {
    content: "";
    border-bottom: 4px solid var(--color-fdc110);
    color: var(--color-4f3f99);
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* ultimas noticias */

.last-posts .link-content {
    display: flex;
    vertical-align: baseline;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 8px 0 14px;
}

.last-posts .link-content .content-text {
    margin-left: 16px;
}


/* mais lidas */

.most-posts .link-content {
    display: flex;
    vertical-align: baseline;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 8px 0;
}

.most-posts .link-content .content-text {
    margin-left: 12px;
}


/* fourth section home */

.fourth-section {}

.fourth-section h2,
.fourth-section h2 a {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-24);
    color: var(--color-4f3f99);
    position: relative;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.fourth-section h2:before {
    content: "";
    border-bottom: 4px solid var(--color-fdc110);
    color: var(--color-4f3f99);
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.fourth-section h2:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: url(/wp-content/themes/nzn_mobilidade/assets/images/icones/arrow-right.svg);
    background-position: center left;
    background-repeat: no-repeat;
    top: 3px;
    margin-left: 5px;
}

.fourth-section .content-image {
    margin-bottom: 15px;
    position: relative;
}

.fourth-section .content-image .categoryTitle {
    top: 16px;
    left: 0;
    position: absolute;
}


/* carousel */

.carousel-item>div {
    min-height: 323px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 323px;
}

.carousel-indicators {
    width: 50%;
    margin: 0;
    transform: translateX(80%);
    z-index: 8 !important;
}

.carousel-indicators li {
    background: var(--color-b5b0d5) !important;
    height: 8px;
    width: 8px;
    border-radius: 100px;
    max-height: 8px;
    border: 0;
}

.carousel-indicators li.active {
    background: var(--color-4f3f99) !important;
}

.carousel-control-next,
.carousel-control-prev {
    width: 11px;
}

.carousel-control-prev-icon {
    transform: rotate(180deg);
    background-image: url(./../images/icones/carousel-arrow.svg) !important;
}

.carousel-control-next-icon {
    background-image: url(./../images/icones/carousel-arrow.svg) !important;
}


/* pages internas */

.feature-image-title {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    width: auto;
}

.custom-template-page header.entry-header {
    padding: 2rem 0;
    margin-bottom: 60px;
    box-shadow: none;
    border-bottom: 1px solid var(--color-dddddd);
    position: relative;
}

.custom-template-page .section-inner {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 1.5% 0%;
}

.custom-template-page header h1 {
    position: relative;
}

.custom-template-page header h1:after {
    content: "";
    border-bottom: 4px solid var(--color-fdc110);
    color: var(--color-4f3f99);
    width: 40px;
    position: absolute;
    left: 0;
    bottom: -22px;
}

.section-page-first {
    margin: 50px 0;
    padding: 60px 0;
    width: 100%;
    background: var(--color-4f3f99);
}


/* breadcrumbs */

#breadcrumbs a,
#breadcrumbs>span>span>span>a,
#breadcrumbs>span>span>a {
    color: var(--color-4f3f99) !important;
    text-decoration: var(--decoration-underline);
}

#breadcrumbs>span>span>span {
    color: var(--color-8995A0);
    font-weight: var(--font-style-regular);
}


/* embed video */

.embed-container {
    position: relative;
    padding-bottom: 44%;
    overflow: hidden;
    width: 100%;
    max-width: 875px;
    height: auto;
    margin: 0 auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* section programação */

#escala_programacao {
    margin: 20px 0;
}

.box-content {
    display: table;
    padding: 30px 0;
}

.box-content .data-content {
    height: 100%;
    display: table-cell;
    position: relative;
    min-width: 70px;
}

.box-content .data-content .detail-hour {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.box-content .data-content-sessoes {
    padding-left: 25px;
    height: 100%;
    display: table-cell;
    width: 100%;
}


/* galeria edições anteriores */

.modal-dialog {
    transform: translateY(-50%) !important;
    top: 50%;
    position: relative;
}

.gallery {
    display: block;
    margin: 10px 0 100px;
    width: 100%;
}

.gallery-content {
    margin: 50px 0 0;
    padding: 0;
    display: block;
}

.gallery .gallery-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    width: 100%;
}

.gallery .gallery-content ul li {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.gallery .gallery-content ul li img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.gallery .gallery-content .modal-content .close {
    color: #fff;
    font-size: 50px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: -50px;
}

.gallery .gallery-content .modal-content {
    background-color: transparent;
}

.btn-image-modal {
    background: transparent;
    background-color: transparent;
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* patrocinadores */

.patrocinadores {
    margin-bottom: 60px;
    min-height: 180px;
}

.p-ver-home ul li a img {
    margin: 0 !important;
}

.patrocinadores-box ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.patrocinadores-box ul li {
    max-height: 150px;
    margin: 0;
    padding: 0;
    height: 100px;
    align-items: center;
}

.patrocinadores-box ul li a {
    width: 100%;
    height: auto;
}

.patrocinadores-box ul li a img {
    max-width: 90px;
    height: auto;
    margin: 0 auto !important;
}


/* patrocinadores horizontal */

.p-hor {
    display: flex;
}


/* patrocinadores vertical */

.p-ver {
    display: block;
}


/* form patrocinadores */

#page-patrocinadores {
    padding-top: 40px;
}

.seja-patrocinador {
    background: var(--color-f7f7f7) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-dddddd);
    background: rgba(247, 247, 247, 1) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    padding: 40px 100px 40px 40px;
}

.seja-patrocinador .desc {
    font-size: var(--font-size-16);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    font-weight: var(--font-style-regular);
    margin-bottom: 16px;
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}


/* form contact 7 */

.wpcf7 {
    margin-top: 17px;
    display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    border: 1px solid var(--color-fdc110) !important;
    border-color: var(--color-fdc110) !important;
    background-color: transparent !important;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.wpcf7-form label {
    margin: 0;
}

.wpcf7-form input {
    border: 1px solid #b5b7b9;
    font-size: var(--font-size-16);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    font-weight: var(--font-style-regular) !important;
    outline: none !important;
    line-height: var(--line-spacing-18);
    font-family: var(--font-family-poppins);
}

.wpcf7-form input[type="submit"] {
    margin-top: 4px;
    max-width: 117px !important;
    min-width: 117px !important;
    padding: 16px 0 !important;
    border-radius: 3px !important;
    background: var(--color-33cc99) !important;
    border-color: var(--color-33cc99) !important;
    text-decoration: none !important;
    color: #fff;
    font-weight: bold!important;
}

.wpcf7 form.invalid .wpcf7-response-output {
    font-size: var(--font-size-16);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-333333);
    font-weight: var(--font-style-regular) !important;
    border: 1px solid var(--color-fdc110);
    margin: 0;
    font-family: var(--font-family-poppins);
    line-height: var(--line-spacing-18);
}


/* noticias page */

.blog .custom-template-page header.entry-header,
.archive .custom-template-page header.entry-header {
    margin-bottom: 40px !important;
}

.descricao-page-posts p {
    font-size: var(--font-size-14);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    font-weight: var(--font-style-regular) !important;
    line-height: var(--line-spacing-18);
    font-family: var(--font-family-poppins);
}

.post-list {
    margin-top: 40px;
}

.post-list>div>div {
    margin-bottom: 30px;
}

.post-list h2 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.post-list .featured-media>div,
.post-list .featured-media {
    margin: 0 0 17px;
    padding: 0;
    width: 100%;
    height: 230px;
    min-height: 230px;
    max-height: 230px;
}

.post-list .featured-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.post-list .post-inner {
    margin: 0;
    padding: 0;
    width: 100%;
}

.post-list .entry-content {
    margin: 0;
    padding: 0;
    width: 100%;
}

.post-list .entry-content .entry-title {
    margin: 0;
    padding: 0;
    width: 100% !important;
    max-width: 100% !important;
}

.post-list .image-content-post {
    position: relative;
}

.post-list .image-content-post .categoryTitle {
    position: absolute;
    left: 0;
    top: 16px;
    z-index: 1;
}

.post-list .image-content-post .categoryTitle.noimage {
    position: relative !important;
    top: 0;
}


/* pagination */

.pagination {
    margin-top: 50px;
}

.pagination .nav-links {
    justify-content: center;
}

.pagination .prev,
.pagination .next {
    margin: 0 10px;
}

.nav-links a,
.nav-links span {
    font-size: var(--font-size-16);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    font-weight: var(--font-style-bold);
    font-family: var(--font-family-poppins);
    line-height: var(--line-spacing-21);
}

.nav-links span.current {
    color: var(--color-4f3f99);
}


/* countdown */

.countdown .element_conteiner {
    background: transparent !important;
    background-color: transparent !important;
}

#main_countedown_1 .time_left {
    padding: 0 !important;
    background: transparent !important;
    background-color: transparent !important;
    font-size: 55px;
    line-height: 71px;
    font-family: var(--font-family-poppins) !important;
    letter-spacing: var(--character-spacing-0) !important;
    color: var(--color-fdc110) !important;
    font-weight: var(--font-style-light) !important;
}

#main_countedown_1 .time_description {
    font-size: 16px !important;
    line-height: 17px !important;
    font-family: var(--font-family-poppins) !important;
    letter-spacing: var(--character-spacing-0) !important;
    color: var(--color-ffffff) !important;
    font-weight: var(--font-style-light) !important;
}


/* plugin redes sociais */

.addtoany_content {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    border-top: 1px solid var(--color-dddddd);
    padding-top: 30px;
}

.addtoany_list a,
.widget .addtoany_list a {
    position: relative;
    top: 7px;
}

@media (min-width: 992px) {
    .addtoany_content {
        min-width: 960px;
        transform: translateX(-50%);
        left: 50%;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .addtoany_content {
        min-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .addtoany_content {
        min-width: 540px;
    }
}

@media screen and (max-width: 575px) {
    .addtoany_content {
        display: block !important;
        min-width: 100%;
    }
    .fix-header-especial {
        padding: 15px 0 0px !important;
    }
    #detailsHeader {
        justify-content: flex-start !important;
    }
    .fix-header-especial h3.titleFixHeader {
        margin: 0 !important;
    }
}


/* newsletter geral */

@media screen and (max-width: 1199px) {
    .second-section .newsletter {
        display: block !important;
    }
    .second-section .newsletter>div {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .second-section .newsletter>div {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .second-section>div>div {
        padding: 0px 10px 30px !important;
    }
}

.fix-header-especial {
    padding: 15px 0;
    box-shadow: 0px 2px 4px #00000029;
    background-color: var(--color-ffffff);
    position: fixed;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -200px);
}

.fixed {
    width: 100%;
    position: fixed !important;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform: translate(0, 0);
    z-index: 9;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
}

.fix-header-especial.fixed {
    box-shadow: 0px 2px 4px #00000029;
}

.fix-header-especial h3.titleFixHeader {
    font-size: 22px;
    font-family: var(--font-family-poppins);
    color: var(--color-7777777);
    font-weight: var(--font-style-regular);
    line-height: var(--line-spacing-24);
}

.fix-header-especial #detailsHeader span {
    color: var(--color-7777777) !important;
    margin-right: 20px !important;
}

.fix-header-especial #detailsHeader a img {
    max-width: 55px;
}

.header-especial {
    padding: 26px 0;
    box-shadow: none !important;
    margin-bottom: 26px !important;
    min-height: 120px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.header-especial h3.titleFixHeader {
    font-size: 28px;
    font-family: var(--font-family-poppins);
    color: var(--color-f7f7f7);
    font-weight: var(--font-style-semibold);
    line-height: var(--line-spacing-28);
    margin: 0;
}

.header-especial #detailsHeader,
.fix-header-especial #detailsHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: middle;
}

.header-especial #detailsHeader span,
.fix-header-especial #detailsHeader span {
    font-size: var(--font-size-14);
    font-family: var(--font-family-poppins);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-f7f7f7);
    font-weight: var(--font-style-regular);
    line-height: var(--line-spacing-12);
    margin-right: 40px;
}

.header-especial #detailsHeader a img {
    max-width: 70px;
}

.widget_home a,
.widget_home p a .btn-subs,
.btn-inscrevase a,
.modalBtn,
.entry-btn,
.entry-btn .modalBtn {
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none !important;
}

.btn-subs:hover,
.btn-inscrevase:hover a,
.modalBtn:hover,
.entry-btn:hover,
.entry-btn:hover .modalBtn {
    background: #1ede9f !important;
}

.widget_home p a:hover {
    background: #ad1464 !important;
}

.newsletter-checkbox {
    background-color: transparent !important;
    border-radius: 2px !important;
    border: 1.7px solid var(--color-fdc110) !important;
    top: 3px !important;
}

.newsletter-checkbox:checked {
    background-color: var(--color-fdc110) !important;
}

.newsletter-checkbox:checked::before {
    position: absolute;
    display: inline-block;
    margin: -0.75rem 0 0 -0.35rem !important;
    height: 1.75rem;
    width: 1.75rem;
}

.newsletter-text__lgpd {
    font: normal normal normal 12px/17px Open Sans !important;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-top: -15px;
}

.newsletter-text__lgpd a:hover {
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.newsletter-text__lgpd--danger {
    color: #ff1a3f;
    background: #feeaed 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font-weight: var(--font-style-regular);
    padding: 1px 9px;
}

.newsletter-text__lgpd--danger a {
    color: #ff1a3f;
}

.newsletter-button--disable {
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .newsletter-checkbox:checked::before {
        margin: -0.35rem 0 0 -0.35rem !important;
    }
}


/* page-palestrantes */

#page-patrocinadores .card {
    border: 1px solid var(--color-dddddd);
    border-radius: 4px;
    position: relative;
    padding: 25px 22px;
    width: 100%;
    cursor: pointer;
    /* max-height: 174px; */
}

#page-patrocinadores .card:hover {
    position: relative;
    background-color: var(--color-4f3f99);
}

#page-patrocinadores .card figure {
    position: relative;
    width: 120px;
    height: 68px;
    border-radius: 4px;
}

#page-patrocinadores .card figure img {
    position: absolute;
    top: -60px;
    border-radius: 4px;
    width: 100%;
    height: 128px;
    object-fit: cover;
}

#page-patrocinadores .card .card-content {
    position: relative;
}

#page-patrocinadores .card .card-content h3,
#page-patrocinadores .card .card-content h4,
#page-patrocinadores .card .card-content p {
    font-family: var(--font-family-poppins);
    line-height: var(--line-spacing-22);
    letter-spacing: var(--character-spacing-0);
    margin: 0;
    padding: 0;
}

#page-patrocinadores .card .card-content h3 {
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-16);
    color: var(--color-de4092);
}

#page-patrocinadores .card .card-content h4,
#page-patrocinadores .card .card-content p {
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-14);
}

#page-patrocinadores .card .card-content h4 {
    color: var(--color-414141);
}

#page-patrocinadores .card .card-content p {
    color: var(--color-ffffff);
    max-height: 0;
    transition: max-height 0.5s linear;
}

#page-patrocinadores .card:hover .card-content p {
    color: var(--color-ffffff);
    max-height: 300px;
    margin-top: 14px;
}

#page-patrocinadores .card:hover .card-content h3,
#page-patrocinadores .card:hover .card-content h4,
#page-patrocinadores .card:hover .card-content p {
    color: var(--color-ffffff);
}

.sessao-sobre {
    margin: 55px 0;
}


/*--------------- 
  Introducao  
----------------*/

.introducao h3 {
    margin-bottom: 5%;
    text-align: left;
    font: normal normal 600 22px/28px Poppins;
    letter-spacing: 0px;
    color: var(--color-4f3f99);
    opacity: 1;
}

.introducao p {
    text-align: left;
    font: normal normal normal 16px/24px Poppins;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}


/*--------------- 
  Realização  
----------------*/

.realizacao h3 {
    text-align: left;
    font: normal normal 600 32px/28px Poppins;
    letter-spacing: 0px;
    color: var(--color-4f3f99);
    opacity: 1;
    margin-bottom: 22px;
}

.realizacao p {
    text-align: left;
    font: normal normal normal 16px/24px Poppins;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}


/*--------------- 
  Edições  
----------------*/

.edicoes h3 {
    text-align: left;
    font: normal normal 600 32px/28px Poppins;
    letter-spacing: 0px;
    color: var(--color-4f3f99);
    opacity: 1;
}

.edicoes ul {
    margin: 0;
    margin-top: 30px;
}

.edicoes ul li {
    display: initial;
    margin: 0 40px 0 0;
}

.edicoes ul li a {
    text-align: left;
    font: normal normal 600 18px/24px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    color: #777777;
}

.edicoes ul li a.active {
    color: var(--color-4f3f99) !important;
}

.edicoes__conteudo p {
    text-align: left;
    font: normal normal normal 16px/24px Poppins;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
    padding: 20px 0px 10px 0px;
}

.tab__content {
    display: none;
}

.tab__content.active {
    display: inherit;
}

.tab__content--images {
    display: flex;
}

.tab__content--images img {
    padding: 2px;
    width: 100%;
    height: 100%;
}


/*--------------- 
  Formulario  
----------------*/

.formulario__card {
    width: 470px;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    border: 1px solid #dddddd;
    border-radius: 4px;
    opacity: 1;
    position: fixed;
    margin-top: -5%;
    margin-left: 5%;
    padding: 37px 32px;
}

@media (max-height: 760px) {
    .formulario__card {
        margin-top: -9%;
    }
}

@media only screen and (max-width: 600px) {
    .formulario__card {
        position: relative;
        width: 100%;
        margin: 0 0 50px 0;
    }
}

.formulario__card h3 {
    text-align: left;
    font: normal normal 600 28px/24px Poppins;
    letter-spacing: 0px;
    color: var(--color-4f3f99);
    opacity: 1;
    margin-bottom: 23px;
}

.formulario p {
    font: normal normal normal 16px/24px Poppins;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
    text-align: left;
}

.form__inscricoes input[type="submit"] {
    color: #fff !important;
    background: #72ce99 0% 0% no-repeat padding-box !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    padding: 3% 10% !important;
    width: 100% !important;
    font-size: 16px !important;
    margin-top: 25px !important;
    max-width: 100% !important;
}

.form__inscricoes .wpcf7-list-item {
    margin: 0 !important;
}

.formulario form button {
    background: #72ce99 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    padding: 3% 10%;
    width: 100%;
    font-size: 16px;
    margin-top: 25px;
}

.formulario__grupo {
    margin-top: 20px;
}

.formulario__grupo--check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: left;
    font: normal normal normal 14px/17px Proxima Nova;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.formulario__grupo--check input {
    margin-right: 10px;
}


/*--------------- 
  Cards  
----------------*/

.cards i {
    font-size: 24px;
    color: var(--color-4f3f99);
    padding: 16px 24px;
}

.cards__item {
    font-size: 14px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 2% 0%;
    text-align: left;
    font: normal normal normal 16px/28px Poppins;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .cards__item {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 15px 15px 15px 0px;
    }
}


/*--------------- 
  Participantes  
----------------*/

.participantes h2 {
    text-align: left;
    font: normal normal 600 32px/28px Poppins;
    letter-spacing: 0px;
    color: var(--color-4f3f99);
    opacity: 1;
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .participantes h2 {
        margin-bottom: 50px;
    }
}

.participantes__container img {
    margin: auto;
    border-radius: 100px;
    width: 92px;
    height: 92px;
}

.participantes h3 {
    text-align: center;
    font: normal normal 600 16px/24px Poppins;
    letter-spacing: 0px;
    color: #414141;
    text-transform: uppercase;
    opacity: 1;
}

.participantes__container p {
    text-align: center;
    font: normal normal normal 14px/18px Poppins;
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
}


/*--------------- 
  Depoimento  
----------------*/

.depoimento {
    width: 100%;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    padding: 50px 35px;
}

.depoimento h2 {
    color: var(--color-4f3f99);
    font-size: 32px !important;
    text-align: center;
    font: normal normal 600 32px/34px Poppins;
    padding: 0 10%;
    margin-bottom: 5%;
}

.depoimento__container p {
    text-align: center;
    font: normal normal normal 18px/24px Poppins;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
    margin-bottom: 50px;
}

.depoimento__container img {
    width: 72px !important;
    height: 72px;
    border-radius: 100px;
    margin: auto;
}

.depoimento__container h3 {
    text-align: center;
    font: normal normal 600 16px/24px Poppins;
    letter-spacing: 0px;
    color: #414141;
    text-transform: uppercase;
    opacity: 1;
}

.depoimento__container span {
    text-align: center;
    font: normal normal normal 14px/18px Poppins;
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
}


/*--------------- 
  Header green  
----------------*/

.header-secondary {
    width: 100%;
    height: 60px;
    background-color: #38662e;
    display: flex;
    align-items: center;
    padding-top: 0.5%;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .header-secondary {
        display: none;
    }
}

.header-secondary nav ul li a {
    color: #fff !important;
}

.lgpd-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.down-free {
    margin-top: 27px !important;
}

@media only screen and (max-width: 991px) {
    .newsletter .widget {
        margin-top: 0;
    }
    .lgpd-btn {
        display: block;
        margin-top: 16px;
    }
    .easygoi-form div input[type="submit"] {
        float: right;
    }
    .down-free {
        margin-top: 15px !important;
        margin-bottom: 15px;
    }
    .easygoi-form div.easygoi-button-element {
        max-width: 130px;
        float: right;
        margin: 0;
        padding: 0;
    }
    .newsletter-lgpd {
        position: relative !important;
        bottom: 30px !important;
    }
}

@media only screen and (max-width: 767px) {
    .easygoi-button-element {
        margin-top: 15px !important;
    }
}

@media screen and (max-width: 1320px) {
    .banner-news {
        border-radius: 0 !important;
        width: 100% !important;
        transform: translate(0) !important;
        left: 0;
        bottom: 0;
        margin: 0;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
    }
    .banner-news .down-free-intern {
        margin: 0 !important;
        width: 10%;
        margin-right: 10px !important;
        max-width: 60px;
    }
    .banner-news span,
    .banner-news h6 {
        text-align: center;
    }
    .close-bnn {
        text-align: right !important;
        cursor: pointer !important;
    }
    .banner-news small,
    .banner-news .bta,
    .banner-news .close-bnn {}
    .banner-news .arrow-bnn {
        display: block !important;
    }
}

@media screen and (max-width: 767px) {
    .banner-news span {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .banner-news h6 {
        font-size: 18px !important;
        line-height: 22px !important;
    }
}

.banner-news {
    background: #4f3f99;
    border-radius: 8px;
    padding: 14px 20px 20px;
    width: 273px;
    position: fixed;
    transform: translate(200%);
    z-index: 5;
}

.banner-news .arrow-bnn {
    color: #8678c9;
    display: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 6px;
    background: transparent !important;
}

.banner-news .close-bnn {
    color: #8678c9;
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 6px;
}

.banner-news .down-free-intern {
    display: block;
    margin: 0 auto 13px;
}

.banner-news span {
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}

.banner-news h6 {
    display: block;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #f3b918;
    margin: 6px 0 12px;
    text-align: center;
}

.banner-news small {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}

.banner-news .bta {
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    color: #ffffff;
    background: #33cc99;
    border-radius: 3px;
    padding: 14px 60px;
    margin-top: 12px;
    display: block;
    text-align: center;
}

.newsletter-lgpd {
    position: absolute;
    bottom: 15px;
}

.title-likedeslike {
    color: #707070 !important;
    font-size: 28px !important;
    line-height: 86px !important;
    font-weight: 300 !important;
    padding: 0 !important;
    margin: 50px 0 0 !important;
    display: block;
    text-align: left;
    border-top: 1px solid var(--color-dddddd);
}

.button-container-likes-dislike {
    margin: 0 0 0 -10px !important;
}

@media screen and (max-width: 1199px) {
    .header-prime.header-patrocinadores {
        display: none !important;
    }
}

.header-patrocinadores .header-navigation-wrapper {
    padding: 0 !important;
}

.header-prime.header-patrocinadores {
    transform: translate(0, -218px);
}

.header-patrocinadores {
    box-shadow: 0px 2px 4px #00000029;
    z-index: 4;
    background-color: #fff;
    padding: 13px 0;
}

.header-patrocinadores .header-inner {
    padding: 0 !important;
}

.header-patrocinadores.fixed {
    transform: translate(0, 0);
}

.header-patrocinadores h4.title {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #707070;
    margin-right: 5px;
}

.header-patrocinadores a img {
    max-width: 100px !important;
}

.header-patrocinadores .col-num-2 .col-in {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header-patrocinadores .col-num-2 div a {
    max-height: 150px;
    margin: 0;
    padding: 0;
    flex: 0 0 20%;
    display: flex;
    align-items: center;
}

.header-patrocinadores .col-num-2 a .img-2,
.header-patrocinadores .col-num-1 a .img-0 {
    max-width: 57px !important;
}

.header-patrocinadores .col-num-2 a .img-0 {
    max-width: 33px !important;
}

.header-patrocinadores .col-auto a img {
    display: inline-block !important;
    margin: 0 auto;
}

.header-patrocinadores .btn-inscrevase,
.header-patrocinadores .btn-inscrevase a {
    color: var(--color-ffffff) !important;
    border-radius: 3px;
    background: var(--color-33cc99);
    padding: 0 8px;
    width: auto;
    min-width: 246px;
    max-width: 246px;
    text-align: center;
    font-weight: var(--font-style-bold);
    line-height: 48px;
    font-size: 14px;
    margin: 0 5px;
    display: none !important;
}

.header-patrocinadores .toggle-wrapper {
    display: none !important;
}

.header-patrocinadores .header-titles-wrapper {
    margin-right: 0 !important;
}

.patrocinadores-row .col-auto {
    padding: 0 !important;
}

.agende-se {
    display: block;
    margin: 40px auto 0;
}

.agende-se img {
    display: block;
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}