@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    /* Colors: */
    --color-414141: #414141;
    --color-fdc110: #FDC110;
    --color-33cc99: #33CC99;
    --color-777777: #777777;
    --color-4f3f99: #4F3F99;
    --color-b5b0d5: #B5B0D5;
    --color-de4092: #DE4092;
    --color-f7f7f7: #F7F7F7;
    --color-dddddd: #DDDDDD;
    --color-262626: #262626;
    --color-333333: #333333;
    --color-707070: #707070;
    --color-8995A0: #8995A0;
    --color-ffffff: #ffffff;
    --color-414141-rgba: rgba(65, 65, 65, 0.7);
    --color-000000-rgba: rgba(0, 0, 0, 0.65);
    /* Font/text values */
    --font-family-poppins: 'Poppins', sans-serif;
    --font-style-light: 300;
    --font-style-regular: 400;
    --font-style-semibold: 600;
    --font-style-bold: 700;
    --font-style-italic: Italic;
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-40: 40px;
    --font-size-48: 48px;
    --character-spacing-0: 0px;
    --line-spacing-12: 12px;
    --line-spacing-14: 14px;
    --line-spacing-18: 18px;
    --line-spacing-22: 22px;
    --line-spacing-24: 24px;
    --line-spacing-25: 25px;
    --line-spacing-28: 28px;
    --line-spacing-32: 32px;
    --line-spacing-40: 40px;
    --line-spacing-48: 48px;
    --line-spacing-52: 52px;
    --decoration-underline: underline;
    --text-transform-uppercase: uppercase;
}

.bg-withe {
    background: var(--color-ffffff);
}


/* Character Styles */

.data-e-tempo-de-leitura {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-25);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
}

.links-breadcrumb {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-24);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-4f3f99);
    margin-bottom: 20px;
}

.textinho-pos-titulo-ultimas-noticiaspoppins-—-14pt a,
.textinho-pos-titulo-ultimas-noticiaspoppins-—-14pt {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-22);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
}

.você-tambem-pode-se-interessar-links {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-22);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-4f3f99);
    text-decoration: var(--decoration-underline);
}

.corpo-texto-interna {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-22);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-333333);
}

.interna-materia-resumo-da-noticia {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-18);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-262626);
}

.descrição-palestra {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-22);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-707070);
}

.nome-da-editoria-mais-lidas-poppins-—-10pt {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-10);
    line-height: var(--line-spacing-24);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    text-transform: var(--text-transform-uppercase);
}

.titulo-materia-mais-lidas {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-18);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
}

.você-tambem-pode-se-interessar {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-24);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
}

.gravata-interna-materia {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-16);
    line-height: var(--line-spacing-22);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-707070);
}

.nome-editoria-home-h2 {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-18);
    line-height: var(--line-spacing-24);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-4f3f99);
    border-bottom: 1px solid var(--color-777777);
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.titulo-materia-home a,
.titulo-materia-home {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-22);
    line-height: var(--line-spacing-28);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
}

.subtitulos-interna-materias {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-22);
    line-height: var(--line-spacing-24);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-de4092);
}

.titulo-materia-card-destaque-carrosel a,
.titulo-materia-card-destaque-carrosel {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-24);
    line-height: var(--line-spacing-32);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    margin-top: 20px;
}

.titulo-h1-interna-materia {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-32);
    line-height: var(--line-spacing-40);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
}

.nome-categoria-paginas-internas a,
.nome-categoria-paginas-internas {
    font-family: var(--font-family-poppins)!important;
    font-weight: var(--font-style-semibold)!important;
    font-size: var(--font-size-40)!important;
    line-height: var(--line-spacing-40)!important;
    letter-spacing: var(--character-spacing-0)!important;
    color: var(--color-4f3f99)!important;
    text-align: left!important;
}

.interna-materia-legenda-foto-fonte {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-italic);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-14);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
}

.categoryTitle a {
    margin-bottom: 0!important;
    color: var(--color-ffffff)!important;
}

.categoryTitle {
    font-family: var(--font-family-poppins)!important;
    font-weight: var(--font-style-semibold)!important;
    font-size: var(--font-size-10)!important;
    line-height: var(--line-spacing-24)!important;
    color: var(--color-ffffff)!important;
    background: var(--color-4f3f99);
    text-transform: var(--text-transform-uppercase);
    padding: 4px 4px;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
    margin-bottom: 20px;
}

.simple-category {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-semibold);
    font-size: var(--font-size-10);
    line-height: var(--line-spacing-24);
    color: var(--color-777777);
    text-transform: var(--text-transform-uppercase);
}

.data-time {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-style-regular);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-25);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
}

i.data-time {
    color: var(--color-33cc99)!important;
    margin: 0 5px;
}

.model-title-last-posts {
    font-size: var(--font-size-22);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    font-weight: var(--font-style-semibold);
    line-height: var(--line-spacing-28);
    font-family: var(--font-family-poppins);
}

.model-excerpt-last-posts {
    font-size: var(--font-size-14);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-777777);
    font-weight: var(--font-style-regular);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

.model-title-most-posts {
    font-size: var(--font-size-16);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    font-weight: var(--font-style-semibold);
    line-height: var(--line-spacing-18);
    font-family: var(--font-family-poppins);
}

.descricao-txt {
    font-size: var(--font-size-16);
    color: var(--color-777777);
    font-weight: var(--font-style-regular);
    font-family: var(--font-family-poppins);
    line-height: var(--line-spacing-22);
}

.detail-hour {
    font-size: var(--font-size-16);
    color: var(--color-ffffff);
    font-weight: var(--font-style-bold);
    line-height: var(--line-spacing-36);
    font-family: var(--font-family-poppins);
}

.subtitle {
    font-size: var(--font-size-16);
    color: var(--color-4f3f99);
    font-weight: var(--font-style-semibold);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

.subtitle-under {
    font-size: var(--font-size-14);
    color: var(--color-de4092);
    font-weight: var(--font-style-semibold);
    margin: 0;
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

.descricao-sub {
    font-size: var(--font-size-12);
    color: var(--color-777777);
    font-weight: var(--font-style-regular);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

.mini_bio {
    font-size: var(--font-size-12);
    font-weight: var(--font-style-regular);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
    color: var(--color-fdc110)!important;
    position: relative;
    top: -15px;
    cursor: pointer;
}

.mini_bio i {
    font-size: var(--font-size-14);
    font-weight: var(--font-style-bold);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
    color: var(--color-fdc110)!important;
    font-style: normal;
    padding: 0 5px;
    text-decoration: none!important;
}

.mini_bio-sub {
    display: none;
    font-size: var(--font-size-12);
    color: var(--color-777777);
    font-weight: var(--font-style-regular);
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
    margin: -15px 0 15px;
}

.img-moda-270-168 {
    width: auto;
    height: 168px;
    min-width: 270px;
    max-width: 270px;
}

.img-moda-255-168 {
    width: auto;
    height: 168px;
    max-width: 255px;
}

.img-moda-168-104 {
    width: auto;
    max-width: 168px;
    height: 104px;
    min-width: 168px;
}

.img-moda-350-230 {
    width: auto;
    max-width: 350px;
    height: 230px;
}

.img-moda-255-168 img,
.img-moda-350-230 img,
.img-moda-270-168 img,
.img-moda-168-104 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-image {
    position: relative;
}

.third-section .content-image .category {
    position: absolute;
    left: 0;
    top: 20px;
}

.supper_banner {
    width: 728px;
    height: 90px;
    margin: 0 auto;
}

.arroba_banner {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.supper_banner img,
.arroba_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-inscreva {
    color: var(--color-ffffff)!important;
    border-radius: 3px!important;
    background: var(--color-33cc99)!important;
    padding: 16px 26px!important;
    text-align: center;
    font-weight: var(--font-style-bold)!important;
    display: table;
    margin: 20px auto;
    min-width: 246px;
    text-transform: none!important;
    text-decoration: none;
}

.data-content {
    background: var(--color-4f3f99);
    border: 1px solid var(--color-dddddd);
    border-radius: 4px;
}

.data-content-paineis {
    background: var(--color-f7f7f7);
    border: 1px solid var(--color-dddddd);
    border-radius: 4px;
    padding: 20px 25px;
}

.titleDestaque {
    font-size: var(--font-size-32);
    letter-spacing: 0.96px;
    font-weight: var(--font-style-bold);
    color: var(--color-4f3f99);
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
    line-height: var(--line-spacing-28);
    font-family: var(--font-family-poppins);
}

.titleDestaque:after {
    content: '';
    border-bottom: 4px solid var(--color-fdc110);
    color: var(--color-4f3f99);
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.titleDestaqueSmall {
    font-size: var(--font-size-18);
    font-weight: var(--font-style-semibold);
    color: var(--color-4f3f99);
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
    font-family: var(--font-family-poppins);
    line-height: var(--line-spacing-24);
}

.titleDestaqueSmall:after {
    content: '';
    border-bottom: 4px solid var(--color-fdc110);
    color: var(--color-4f3f99);
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

h4.title {
    font-size: var(--font-size-18);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-4f3f99);
    text-align: center;
    font-weight: var(--font-style-semibold);
    line-height: var(--line-spacing-24);
    font-family: var(--font-family-poppins);
}

.paragrafSmall {
    font-size: var(--font-size-14);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-414141);
    font-weight: var(--font-style-regular);
    margin-bottom: 16px;
    line-height: var(--line-spacing-22);
    font-family: var(--font-family-poppins);
}

h3.titlePostList {
    font-size: var(--font-size-18)!important;
    line-height: var(--line-spacing-24)!important;
    letter-spacing: var(--character-spacing-0)!important;
    color: var(--color-4f3f99)!important;
    font-weight: var(--font-style-semibold)!important;
    font-family: var(--font-family-poppins);
}